@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to the Better Board! <sup><em><b>Bitch</b></em></sup></h2>
<img src="~/images/Nice.jpg" alt="What it do boo" width="400" height="400"/>

<svg style="width:100%;height:800px;">
  

</svg>