@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="lead">
    <h1>Welcome to the Better Board!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2>Sunday</h2>
    </div>
    <div class="col-md-2">
      <h2>Monday</h2>
    </div>
    <div class="col-md-2">
      <h2>Wednesday</h2>
    </div>
    <div class="col-md-2">
      <h2>Thursday</h2>
    </div>
    <div class="col-md-2">
      <h2>Friday</h2>
    </div>
    <div class="col-md-2">
      <h2>Saturday</h2>
    </div>
  </div>

  <div class="row overflow-scroll">
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<svg style="width:100%;height:800px;">
  

</svg>